.compositions-vacancies {
    min-height: 40px;

    @media screen and (min-width: 960px) {
        @include flex;
    }

    &__main {
        @include flex-flex(1);

        padding-top: 4rem;

        @media screen and (min-width: 960px) {
            padding-top: 0;
        }


        h2 {
            height: 31px;
            font-family: TheSansSemiBold-Plain;
            font-size: 26px;
            font-weight: bold;
            color: #00577e;
            letter-spacing: unset;
            margin-top: 2.5rem;

            &:after {
                display: none;
            }
        }

        .form-search {
            margin-left: 4rem;
            margin-right: 4rem;
        }
    }

    &__aside {
        @media screen and (min-width: 960px) {
            order: -1;
            background-color: #e5edf0;
            max-width: 320px;
        }

        h2 {
            height: 31px;
            font-family: TheSansSemiBold-Plain;
            font-size: 26px;
            font-weight: bold;
            color: #00577e;
            letter-spacing: unset;
            margin-top: 2.5rem;

            &:after {
                display: none;
            }
        }

        h3 {
            font-family: TheSansSemiBold-Plain;
        }

        .clearAll {
            font-family: TheSansSemiBold-Plain;
            text-transform: unset;
            color: #0086a9;
        }
    }

    &__footer {
        .button {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    .form-search {
        &__field {
            @include flex-flex(1);
            width: unset;
        }
    }

    .u-box {
        @include flex;

        &.respcOnlySmall {
            display: none;
        }

        &.respcOnlyLarge {
            clear: both;
            display: flex;
        }

        @media screen and (max-width: 960px) {

            /* small screens */
            &.respcOnlySmall {
                display: flex;
            }

            &.respcOnlyLarge {
                display: none;
            }
        }
    }

    .more {

        .showmore,
        .showless {
            font-family: TheSansSemiBold-Plain;
            font-weight: bold;
            color: #0086a9;
            text-transform: initial;
        }
    }

    .results-item {
        &:not(:last-child) {
            &:after {
                content: '';
                display: block;
                margin-left: 4rem;
                margin-right: 4rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
                border-bottom: 1px solid #cadde1;
            }
        }

        &.rlUnit {
            float: unset;
        }
    }

    .results-title {
        height: 31px;
        font-family: TheSansSemiBold-Plain;
        font-size: 26px;
        font-weight: bold;
        color: #00577e;
        margin-bottom: 5rem;
    }

    .results-table {

        &-header,
        &-body {
            margin-left: 4rem;
            margin-right: 4rem;

            @media screen and (min-width: 960px) {
                @include flex;
            }

            .data {
                @media screen and (min-width: 960px) {
                    @include flex-flex(1);

                    &.data-vacancy {
                        @include flex-flex(2);
                    }
                }



                &.data-category,
                &.data-discipline {
                    display: none;

                    @media screen and (min-width: 960px) {
                        display: inline-block;
                    }
                }

                @media screen and (min-width: 960px) {}
            }
        }

        &-header {
            display: none;

            @media screen and (min-width: 960px) {
                @include flex;
            }

            .data {
                font-family: TheSansSemiBold-Plain;
                font-size: 20px;
                font-weight: bold;
                color: #a6c101;
                text-transform: uppercase;
            }
        }

        &-body {
            @media screen and (min-width: 960px) {
                @include flex;
            }

            .data {
                .title {
                    margin-top: 0;
                    margin-left: 0;
                    font-family: TheSansSemiBold-Plain;
                    text-transform: unset;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.3;
                    color: #00577e;
                }

                &-country {
                    .fontIcon {
                        margin-right: 1.5rem;

                        @media screen and (min-width: 960px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .responsive--only-mobile {
        display: block;

        &-flex {
            @include flex;
        }

        @media screen and (min-width: 960px) {
            display: none;

            &-flex {
                display: none;
            }
        }
    }

    .responsive--only-desktop {
        display: none;

        @media screen and (min-width: 960px) {
            display: block;

            &-flex {
                @include flex;
            }
        }
    }

}