.compositions-vacancies-detail {

    &__main {
        h2 {
            font-family: $font-family-brand-bold;
        }

        .description {
            font-weight: bold;
            white-space: pre-wrap;
        }
    }

    &__aside {}

    &__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: white;
        border-top: 1px solid #CADDE1;

        padding: 26px 35px;


        &.hidden {
            display: none !important;
        }

        .button.details {
            border: 1px solid #00577E;
            background-color: white;
            color: #00577e;
        }

        .button {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }


    }

    .u-box {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;
        /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */

        &.respcOnlySmall {
            display: none;
        }

        &.respcOnlyLarge {
            clear: both;
            display: flex;
        }

        @media screen and (max-width: $sm-max) {

            /* small screens */
            &.respcOnlySmall {
                display: flex;
            }

            &.respcOnlyLarge {
                display: none;
            }
        }
    }

    .u-flex {
        @include flex-flex(1);
    }

}