<section class="compositions-vacancies o-content-width">
    <main class="compositions-vacancies__main mainCol u-flex">
        <!-- title -->
        <!-- /title -->

        <form>
            <input type="text">
            <button>Zoek</button>
        </form>

        {{> vacancies_result}}
    </main>
    <aside class="compositions-vacancies__aside sideCol u-box u-box--column">
        <header class="compositions-vacancies__aside__header respcOnlySmall">
            FILTER HEADER
        </header>
        <main class="compositions-vacancies__aside__main u-flex u-overflow-y">
            {{> vacancies_filter}}
        </main>
        <footer class="compositions-vacancies__aside__footer u-box">
            <a href="#details" class="cta button details u-flex js-btn-details"><span class="icon-down"></span>&nbsp;Send
                Details</a>
            <a href="https://www.royalhaskoningdhv.com/en-gb/popup/jaap-veerman/1976" class="cta button primary u-flex">Apply</a>
        </footer>
    </aside>
</section>