<section class="compositions-vacancies-detail line o-content-width">
    <main class="compositions-vacancies-detail__main">
        <h3>SALESFORCE DEVELOPERS</h3>
        <p>
            The Business Line - Royal Haskoning DHV<br />
            We’ve been around for more than 135 years, driving inclusive sustainable development with our clients in
            areas that we
            master and can actively influence. Our people are keen to positively change the future and leave a legacy.
            Our
            networked organisation of smart entrepreneurs connects the best and brightest people in the world. Together
            we have an
            ambition to run a financially healthy business by putting our collective intelligence into practice with
            clients and
            partners. We are commercial savvy engineers, project managers and consultants who design smart cities,
            airports, ports,
            buildings and more. We reinvent industries; co-create clean energy and fresh water by using smart data and
            digitizing
            information flows and models. More and more, we connect the digital with the real world in an accelerating
            pace.
            Working together with our clients and partners, we use data and algorithms to translate insights into
            foresights. We
            help our clients in their digital transformation and we support our clients’ business with better and
            faster execution
            of their ambitions.<br />
            n van data uit diverse bronnen in GIS en Excel.
        </p>

        <ul>
            <li>・Meedenken bij de aanpak van vraagstukken en borgen van de kwaliteit van onze producten.</li>
            <li>・Bijdragen aan de kennisontwikkeling binnen team, adviesgroep en organisatie.</li>
        </ul>

        <h5>Het profiel</h5>
        <p>Dankzij jouw leergierigheid bouw jij je kennis en vaardigheden snel uit en ga je steeds zelfstandiger
            opereren in
            projecten. Je hebt een passie voor een duurzame en gezonde leefomgeving en wil je daar verder in
            professionaliseren. Je
            hebt een proactieve houding.
            Daarnaast:</p>

        <ul>
            <li>・Beschik je over een afgeronde en relevante HBO of WO opleiding.</li>
            <li>・Ben je gewend en vind je het leuk om in teamverband aan complexere vraagstukken te werken.</li>
            <li>・Werk je graag en makkelijk samen met specialisten uit andere vakgebieden en adviesgroepen binnen ons
                bedrijf.</li>
            <li>・Ben je zeer bedreven in het werken met Excel en GIS.</li>
            <li>・Bekendheid met vakinhoudelijke rekenmodellen als de NSL-Monitoringstool, AERIUS en GeoMilieu is een
                pre, net als</li>
            <li>kennis van de programmeertaal Python.</li>
            <li>・Werk je meerdere dagen per week op locatie Amersfoort en ben je flexibel om naar klanten of andere
                kantoren te reizen.</li>
            <li>・Beheers je de Nederlandse taal uitstekend, zowel mondeling als schriftelijk.</li>
        </ul>

        <h5>Het aanbod</h5>
        <p>Wij zijn als toonaangevend advies- en ingenieursbureau onderweg naar nóg beter. Aan de basis hiervan staan
            onze mensen.
            Royal HaskoningDHV draagt bij aan een samenleving die oog heeft voor de toekomst. In samenwerking met onze
            klanten
            creëren wij oplossingen voor de duurzame interactie tussen mensen en hun omgeving. Dit betekent dat je
            kansen ziet en
            grijpt, complexe problemen oplost en de klant hiermee verder helpt. Dit betekent ook je kennis vergroten en
            verbreden,
            samen met collega-adviseurs, -ingenieurs, -wetenschappers en andere specialisten, ieder op z’n eigen
            vakgebied. Tot
            slot betekent dit inzicht hebben in de relatie tussen mens, milieu en economie. Dit kan alleen met mensen
            die onze
            ambitie delen, en hetzelfde enthousiasme hebben om voorop te lopen met nieuwe ontwikkelingen.</p>

        <p>Wij geven jou de mogelijkheid om je eigen loopbaan vorm te geven en door te groeien op basis van je ambitie
            en
            mogelijkheden. Daarbij bieden wij een uitstekend pakket arbeidsvoorwaarden.</p>

        De procedure
        <p>Is deze rol bij Royal HaskoningDHV precies wat je zoekt en ga je graag aan de slag als onze junior adviseur
            luchtkwaliteit & stikstofdepositie? Solliciteer dan via de sollicitatiebutton en upload jouw cv en
            motivatie.
            Heb je interesse maar nog vragen? Neem dan contact op met Jan de Wit (Director Advisory Group Smart Urban
            Environment)
            via 088-3483401.</p>

        <p>Acquisitie op deze vacature is niet gewenst.</p>

        <p>Business Line: Transport & Planning<br />
            Standplaats: Amersfoort</p>
    </main>
    <aside></aside>
    <footer>

    </footer>
</section>