.three-teaser-block {
	background-color: $color-mediumblue;
	color: $color-white;
	margin: 0 $grid-margin-hor;
	display: flex;

	@media screen and (max-width: $lg-max) {
		flex-flow: column;
		margin-bottom: 2rem;
	}

	&__item {

		@media screen and (min-width: $xl-min) {
			width:50%;
		}

		.mediaBox {
			margin: 0;
		}

		.bodyBox {
			padding: $grid-padding-vert $grid-padding-hor;
		}
	}
}