$color-storm-dust: #686867;//buttons / bgfooter / headings / contact icons
$color-star-dust: #9d9d9c; //links
$color-heavy-metal: #1d1d1b;

$color-theme: $color-storm-dust; 
$color-theme-hover: $color-heavy-metal;

$color-lightblue: $color-star-dust;
$color-mediumblue: $color-storm-dust;
$color-darkblue: $color-storm-dust;
$color-link: $color-star-dust;

$color-panel-gradient-top: $color-storm-dust;
$color-panel-gradient-bottom: $color-storm-dust;

$footer-bg-image: '/images/themes/gray/bg-footer.jpg';
$color-footer-bg: $color-storm-dust;