$content-width: 82em;
$content-width-narrow: 66em;
$content-width-margin-hor: 1em;// horizontal margin of .o-content-width

$grid-margin-hor-px: 20px;
$grid-margin-hor: 2.0rem;
$grid-padding-hor-px: 20px;
$grid-padding-hor: 2.0rem;
$grid-padding-vert-px: 25px;
$grid-padding-vert: 2.5rem;

$main-padding-top: $grid-padding-vert;
