/* TheSans plain */
@font-face {
	font-family: 'TheSans';
	src: url(/fonts/TheSans_B2_5_.eot);
	src: url(/fonts/TheSans_B2_5_.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

/* TheSans plain italic */
@font-face {
	font-family: 'TheSans';
	src: url(/fonts/TheSans_B2_5_italic.eot);
	src: url(/fonts/TheSans_B2_5_italic.woff) format("woff");
	font-weight: normal;
	font-style: italic;
}

/* TheSans bold */
@font-face {
	font-family: 'TheSans';
	src: url(/fonts/TheSans_B2_7_.eot);
	src: url(/fonts/TheSans_B2_7_.woff) format("woff");
	font-weight: bold;
	font-style: normal;
}

/* TheSans bold italic */
@font-face {
	font-family: 'TheSans';
	src: url(/fonts/TheSans_B2_7_italic.eot);
	src: url(/fonts/TheSans_B2_7_italic.woff) format("woff");
	font-weight: bold;
	font-style: italic;
}

/* TheSans semi bold */
@font-face {
	font-family: 'TheSans-SemiBold';
	src: url(/fonts/TheSans_B2_6_.eot);
	src: url(/fonts/TheSans_B2_6_.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

/* TheSans semi bold italic */
@font-face {
	font-family: 'TheSans-SemiBold';
	src: url(/fonts/TheSans_B2_6_italic.eot);
	src: url(/fonts/TheSans_B2_6_italic.woff) format("woff");
	font-weight: normal;
	font-style: italic;
}